
  header span{
    font-size:1.8vw;
    color:brown;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-top:20px;
    margin-left:20px;
  }

  header img {
    margin-left: 20px;
    width: 10%;
  } 
  