<div class="d-flex">
  <div *ngFor="let article of articles" class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <img src={{article.image}} >
      <h3 class="title">{{ article.title }}</h3>
      <div class="description-container" style="line-height: 1.2; max-height: 2.4em;">
        <p class="description">{{ article.description }}</p>
      </div>
      <p class="author">Autorul articolului: <span id="auth">{{ article.author }}</span></p>
      <p>Articol creat la data de: {{article.date}}</p>
      <div class="button-container">
        <button class="btn btn-link">Citeste mai mult</button>
        <button class="btn btn-danger" (click)="deleteArticle(article.id)">Ștergere articol</button>
      </div>
    </div>
  </div>
</div>