<body>
  <div *ngFor="let article of articles" [ngClass]="getPositionClass(article.id.toString())">
    <div class="container">
      <hr>
      <h3 class="title">{{article.title}}</h3>
      <div class="detail">
        <p class="description">{{article.description}}</p>
        <img src="{{article.home_image}}" class="article-image">
      </div>
      <div class="button-container">
        <button class="btn btn-primary" style="margin-right:1%"[routerLink]="['/details', article.id.toString()]">Citeste mai mult</button>
        <button class="btn btn-danger" (click)="deleteArticle(article.id)">Ștergere articol</button>
        <hr>
      </div>
    </div>
  </div>
</body>
