<h1>Editare articol</h1>
<div class="container">
<div class="form">
<form [formGroup]="formEdit">
    <label for="title">Editare titlu: </label> <br>
    <input class="lbl" type="text" id="title" formControlName="title" required> 
    <br>  <br>

    <label for="description">Editare conținut articolului: </label> <br>
    <textarea id="content" formControlName="description" maxlength="5000" required></textarea>
    <br>  <br>

    <label for="home_image">Editare URL imagine: </label> <br>
    <input class="form-control " type="text" formControlName="home_image" required>
    <br>

    <label for="detail_image">Editare URL imagine detalii: </label> <br>
    <input class="form-control " type="text" formControlName="detail_image" required>
    <br>

    <label for="text">Editare detalii despre articol </label> <br>
    <textarea id="content" formControlName="text" maxlength="5000" required></textarea>
    
</form>
<button type="button" class="btn btn-primary butonas" style = "margin-right:10px" (click)="update()">Salvează</button>
<button type="button" class="btn btn-success butonas" (click)="goBack()">Inapoi</button></div>
</div>