
<button type="button" class="btn btn-danger butonel" (click)="goBack()">Inapoi</button>
<body>
  <hr>
    <div class="container">
      <div class="content">
        <img src="{{articleObj.detail_image}}" class="article-image">
        <div class="text">
          <h3 class="title">{{articleObj.title}}</h3>
          <div class="detail">
            <p class="description"><b>{{articleObj.description}}</b></p> 
          </div>
          <div class="detail">
            <p class="description">{{articleObj.text}}</p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="user.role == 'ROLE_ADMIN'">
    <button type="button" class="btn btn-outline-danger" [routerLink]="['/edit', articleObj.id.toString()]">Editare articol</button></div>
  </body>
  